.takster-content {
	position:relative;
	width:618px;
	float:left;
}
.takster-content h2 {
	font-size:20px;
	line-height:24px;
	margin:0;
	font-weight:normal;
}
.takster-holder {
	background:url(../images/bg-form-holder.gif);
	border:2px solid #3c3c3b;
	padding:8px 25px 8px 18px;
	border-radius:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	position:relative;
	behavior:url(css/PIE.htc);
	margin:0 0 30px;
}
.takster-holder:first-child {margin:0;}
.takster-form .row {margin:0 0 8px;}
.takster-form .radio-holder label {
	float:left;
	font-weight:bold;
}
.takster-form .row:first-child .radio-holder:first-child {
	margin:0 83px 0 194px;
}
.takster-form .text-row>span {
	float:left;
	line-height:22px;
	color:#6D6E70;
	font-weight:bold;
}
.takster-form .text-row label {
	float:left;
	width:195px;
	font-weight:bold;
}
.takster-form .text-row .mark-span {
	width:124px;
}
.takster-form .text-row .text {
	width:76px;
	color:#2A9CCB;
	text-align:right;
	font-weight:bold;
	margin:0 3px 0 0;
}
.takster-heading {
	margin:20px 0 0;
	line-height:14px;
}
.takster-form .bottom-row {margin:20px 0 0;}
.bottom-radio-box {
	margin:20px 0 0;
}
.takster-form .select-area {
	width:110px !important;
	float:left;
}
.takster-form .select-area .center {
	overflow:hidden;
}
.bottom-span {
	float:left;
	margin:0 25px 0 0;
	font-weight:bold;
}
.bottom-mark-span {width:36px;}
.heading-row {margin:0 0 15px;}
.heading-row span {
	float:left;
	font-weight:bold;
}
.brev {
	margin:0 0 0 148px;
	width:137px;
}
.pakke {width:140px;}
.takster-form .bottom-text-row .text {margin:0 0 0 35px;}
.bottom-text {
	width:521px;
	text-align:right;
	display:block;
	margin:18px 0 0;
}
.takster-form .btn-list {float:right;}
.takster-form .btn-list li {
    margin: 0 27px 0 0;
}
.takster-form .btn-list a {
    height: 33px;
    line-height: 33px;
    padding: 0;
    width: 106px;
}